


.page-builder {

  .empty-item{
    border:1px dashed #ccc;

    a.btn.btn-link {
      padding: 12px 0px;

    }

  }

  .page-row {
    border:1px dashed #ccc;
    text-align: center;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 0px;
    min-height: 90px;

    a {
      color:$text-color;
      display: inline-block;
      text-decoration: none;

      &:hover{
        color:$brand-primary;
        text-decoration: none;

        p{
          color:$brand-primary;

        }

      }

    }

    &.filled{
      padding:0px;
      border:none;
      margin-bottom: 10px;
      min-height: 90px;
      border:none;
    }

    .add-row-block{
      margin-bottom: 10px;
    }


    &.item-filled{
      padding:0px;
      border:1px solid #ccc;
      margin-bottom: 10px;
      min-height: 90px;

      a {
        color:$text-color;
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;

        &:hover{
          color:$brand-primary;
          text-decoration: none;

          p{
            color:$brand-primary;

          }

        }

      }


      p {
        @include font(14,18,300);
        text-transform: none;

      }

    }

    .col-types-container {

      @extend .animate;

      width:100%;
      top:0px;
      left:0px;
      position: absolute;
      z-index: 5;
      height: 40px;
      background-color: $cms-light-color-6;

      &.open{
        top:50px;
      }

      ul {

        text-align: left;
        padding-top: 9px;
        padding-left: 16px;

        li {
          display: inline-block;
          list-style-type: none;
          margin-right: 15px;
        }
      }

      .col-icon {

        cursor: pointer;
        width:30px;

        .row{
          width: 30px;
          margin:0;
          padding:0;
        }

        .col {
          height:18px;
          background-repeat: repeat-x;
          margin:0;
          padding:0;

          .col-bars{
              background-image:url('../images/col-back.png');
              height:18px;
              width: 70%;
              position: absolute;
              top:0px;
              left:15%;
          }

        }
      }
    }

  }

  .row-container {
    .row-container-header {

      background-color:$cms-light-color-6;
      border: 1px solid #ccc;
      height:50px;
      z-index: 10;

      .left-buttons {
        display: inline-block;
        float:left;
        padding-left: 10px;
      }

      .right-buttons{
        display: inline-block;
        float:right;
        padding-right: 10px;
      }

      .btn-link{
        padding: 2px 7px;
        color:$text-color;
        font-size: 16px;

        &.text-danger{
          color:$text-color;

          &:hover{
            color:$brand-danger;
          }
        }

      }
    }

    .row-container-body{
      /*min-height:150px;*/
      //border:1px solid #ccc;
      background-color: $cms-light-color-5;
      padding:10px;


      .row-container-body-content{
        background-color: #eeeeee;
        /*margin:10px;*/
        padding: 0 10px;
      }

      .row{
        margin-left: 0px;
        margin-right: 0px;
      }

      .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
        padding-left: 7px;
        padding-right: 7px;
      }

      .row-container-body-top{
        a.btn.btn-link{
            padding: 0;
            color:#acacac;
        }
      }

      .row-container-body-bottom{

        min-height:15px;

        a.btn.btn-link{
            padding: 0;
            color:#acacac;
        }
      }



    }
  }


  /*** preview *****/
  .page-row{

    &.item-filled {


      .item-header{
        background-color:$cms-light-color-6;
        border: 1px solid #ccc;
        height:30px;
        z-index: 10;

        a.btn-link {
          display: inline;
          margin: 0;
          padding: 0 4px;
        }

        .left-buttons {
          display: inline-block;
          float:left;
          padding-left: 10px;
        }

        .right-buttons{
          display: inline-block;
          float:right;
          padding-right: 10px;
        }

        .btn-link{
          padding: 2px 7px;
          color:$text-color;
          font-size: 16px;

          &.text-danger{
            color:$text-color;

            &:hover{
              color:$brand-danger;
            }
          }

        }
      }


      a.text-preview {
        p {
          @include font(16,20,400);
          padding-bottom:0px;
          padding-top:15px;
        }
      }

      a.richtext-preview {
        padding:15px;
        text-transform: none;
        text-align: left;

        p {
          text-align: left;
          @include font(12,16,300);
          padding-bottom:0px;
        }
      }

      a.image-preview {
        display: block;
        width: 100%;
        height: 170px;

        .background-image{
          background-size: contain;
          background-position: center;
        }
      }
    }
  }

}
